h1{
    font-size: 60px; 
    color: darkblue; 
}

h2{
    font-size: 30px;
    color: black;
}

p{
    font-size: 100px;
    position: absolute;
    top:auto;
}

.holder_score{
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    height: 100%;
    display:flex;
    flex-direction: column;
}
.header{
    flex: 1;

}

.main_buttons{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    flex: 1;
}

.lower_buttons{
    flex: 1;

}

.footer{
    flex: 1;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}


#hide{
    display: none;
}


body, html{
    height: 100%;
    

}

.rock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scissors{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rock_layout{
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.paper_layout{
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.scissors_layout{
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.rock_layout:hover{
    background-color: lightblue;
}

.paper_layout:hover{
    background-color: grey;
}
.scissors_layout:hover{
    background-color: lightcoral;
}

.box{
    width: 80%;
    height: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.final_message{
    height:100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}